# Uncomment the line below for dry-run operation
#echo=echo

# Uncomment and change to override the default
#fbAliases=/etc/firebird/aliases.conf
# Uncomment and change to override the default
#fbBackupDir=/var/lib/firebird/backup/$(date +%F)

# Uncomment and set to empty value to skip backing up security2.fdb
#fbSecurityBase=/var/lib/firebird/system/security2.fdb

# Do not back up bases matching the line below (passed to `grep -v`, must begin
# with -e). For example, to prevent backing up aliases "alice" and "bob", do the
# following:
#fbExclude='-e ^alice\> -e ^bob\>'

# See the allowed options at
# http://www.firebirdsql.org/file/documentation/reference_manuals/user_manuals/html/gbak-cmdline.html#gbak-cmdline-backup
# Uncomment and set to empty value to use `gbak` built-in defaults
#fbBackupOpts=-t

# By default system root user is mapped to sysdba. If not running
# as root, uncomment and give the proper values
#ISC_USER=
#ISC_PASSWORD=

# Backup compression command (if defined, invoked for each backup file)
# Undefined by default
compressCmd="bzip2 -9"

# Uncomment not to chown the result to firebird:firebird
#noChown=1
# Uncomment not to chmod the result to 660
#noChmod=1
